.map{
    height: 700px;
    width: 100%;
    min-width: 1042px;
    overflow: hidden;
    background-color: rgb(139, 136, 121);
}
@media (max-width:1200px){
    .map{
        height: 467px;
        width: 100%;
        overflow: hidden;
        background-color: rgb(139, 136, 121);
    }
}