.head{
    display: flex;
    width: 100%;
    height: 110px;
    background:rgba(255,255,255,1); 
    justify-content: center;
    
    
}
.head-logo{
    width:104px;
    height:82px;
    margin:14px 0 0 0 ;
    background-color: red;
}
.head-nav{
    display: flex;
    margin:47px 0 0 70px ;
    width:416px;
    height:16px;
    font-size:16px;
    font-family:Adobe Heiti Std;
    font-weight:normal;
    color: #474646;
    line-height:16px;
    justify-content: space-between;
    list-style-type: none;
    
}
.head-nav-item:hover{
    
        cursor: pointer;
        color:rgba(45,105,195,1);
    
}